.logoCom
{
    width: 10%px;
    height: 40px;
}

.navbarSticyRes
{
    position: fixed !important;
    width: 100%;
}

.shadow-0 .dropdown-toggle
{
    color: #ffffff;
}
.registrNavbar
{
    margin-left: 0.5%;
}