.signInWrapper {
    padding: 9%;
}

.row>* {
    width: 50%;
}

    /* Start Media Query */
    @media screen and (max-width: 480px) {
        .signInWrapper {
            padding-top: 20%;
        }

    }